

<div class="doc-grid">
  <h2 class="clearfix">
    <a href="http://getbootstrap.com/css/#grid" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
    Grid system
  </h2>
  <div class="row">
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
  </div>
  <div class="row">
    <div class="col-md-8">.col-md-8</div>
    <div class="col-md-4">.col-md-4</div>
  </div>
  <div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
  </div>
  <div class="row">
    <div class="col-md-6">.col-md-6</div>
    <div class="col-md-6">.col-md-6</div>
  </div>

</div>

<h2 class="clearfix">
  <a href="http://getbootstrap.com/css/#type" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Typography
</h2>

<h3 class="clearfix">
  <a href="http://getbootstrap.com/css/#type-headings" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Headings
</h3>
<div class="doc-example">
</div>
<div class="doc-example">
  <h1>h1. Bootstrap heading <small>Secondary text</small></h1>
  <h2>h2. Bootstrap heading <small>Secondary text</small></h2>
  <h3>h3. Bootstrap heading <small>Secondary text</small></h3>
<div class="doc-example">
</div>
  <h4>h4. Bootstrap heading <small>Secondary text</small></h4>
  <h5>h5. Bootstrap heading <small>Secondary text</small></h5>
  <h6>h6. Bootstrap heading <small>Secondary text</small></h6>
</div>

<h3 class="clearfix">
  <a href="http://getbootstrap.com/css/#type-body-copy" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Body copy
</h3>
<div class="doc-example">
</div>
<div class="doc-example">
  <p>
    Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Nullam id dolor id nibh ultricies vehicula.
  </p>
  <p>
    Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id
    elit non mi porta gravida at eget metus. Duis mollis, est non commodo
    luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
  </p>
</div>

<h3 class="clearfix">
  <a href="http://getbootstrap.com/css/#type-emphasis" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Emphasis
</h3>
<div class="doc-example">
</div>

<h4>Small text</h4>
<div class="doc-example">
  <small>This line of text is meant to be treated as fine print.</small>
</div>

<h4>Bold</h4>
<div class="doc-example">
  <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
</div>

<h4>Italics</h4>
<div class="doc-example">
  <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
</div>

<h4>Alignment classes</h4>
<div class="doc-example">
  <p class="text-left">Left aligned text.</p>
  <p class="text-center">Center aligned text.</p>
  <p class="text-right">Right aligned text.</p>
  <p class="text-justify">Justified text.</p>
</div>

<h3 class="clearfix">
  <a href="http://getbootstrap.com/css/#type-abbreviations" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Abbreviations
</h3>
<div class="doc-example">
</div>

<h4>Basic abbreviation</h4>
<div class="doc-example">
  <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
</div>

<h4>Initialism</h4>
<div class="doc-example">
  <p>
    <abbr title="HyperText Markup Language" class="initialism">HTML</abbr>
    is the best thing since sliced bread.
  </p>
</div>

<h3 class="clearfix">
  <a href="http://getbootstrap.com/css/#type-addresses" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Addresses
</h3>
<div class="doc-example">
</div>
<div class="doc-example">
  <address>
    <strong>Twitter, Inc.</strong><br>
    795 Folsom Ave, Suite 600<br>
    San Francisco, CA 94107<br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
  </address>
  <address>
    <strong>Full Name</strong><br>
    <a href="mailto:#">first.last@example.com</a>
  </address>
</div>

<h3 class="clearfix">
  <a href="http://getbootstrap.com/css/#type-blockquotes" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Blockquotes
</h3>

<h4>Default blockquote</h4>
<div class="doc-example">
  <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  </blockquote>
</div>

<h4>Blockquote options</h4>

<h5>Naming a source</h5>
<div class="doc-example">
  <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
  </blockquote>
</div>

<h5>Alternate displays</h5>
<div class="doc-example">
  <blockquote class="blockquote-reverse">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
  </blockquote>
</div>

<h3 class="clearfix">
  <a href="http://getbootstrap.com/css/#type-lists" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Lists
</h3>

<h4>Unordered</h4>
<div class="doc-example">
  <ul>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Consectetur adipiscing elit</li>
    <li>Integer molestie lorem at massa</li>
    <li>Facilisis in pretium nisl aliquet</li>
    <li>Nulla volutpat aliquam velit</li>
    <li>Phasellus iaculis neque</li>
    <li>Purus sodales ultricies</li>
    <li>Vestibulum laoreet porttitor sem</li>
    <li>Ac tristique libero volutpat at</li>
    <li>Faucibus porta lacus fringilla vel</li>
    <li>Aenean sit amet erat nunc</li>
    <li>Eget porttitor lorem</li>
  </ul>
</div>

<h4>Ordered</h4>
<div class="doc-example">
  <ol>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Consectetur adipiscing elit</li>
    <li>Integer molestie lorem at massa</li>
    <li>Facilisis in pretium nisl aliquet</li>
    <li>Nulla volutpat aliquam velit</li>
    <li>Phasellus iaculis neque</li>
    <li>Purus sodales ultricies</li>
    <li>Vestibulum laoreet porttitor sem</li>
    <li>Ac tristique libero volutpat at</li>
    <li>Faucibus porta lacus fringilla vel</li>
    <li>Aenean sit amet erat nunc</li>
    <li>Eget porttitor lorem</li>
  </ol>
</div>

<h4>Unstyled</h4>
<div class="doc-example">
  <ul class="list-unstyled">
    <li>Lorem ipsum dolor sit amet</li>
    <li>Consectetur adipiscing elit</li>
    <li>Integer molestie lorem at massa</li>
    <li>Facilisis in pretium nisl aliquet</li>
    <li>Nulla volutpat aliquam velit</li>
    <li>Phasellus iaculis neque</li>
    <li>Purus sodales ultricies</li>
    <li>Vestibulum laoreet porttitor sem</li>
    <li>Ac tristique libero volutpat at</li>
    <li>Faucibus porta lacus fringilla vel</li>
    <li>Aenean sit amet erat nunc</li>
    <li>Eget porttitor lorem</li>
  </ul>
</div>

<h4>Inline</h4>
<div class="doc-example">
  <ul class="list-inline">
    <li>Lorem ipsum</li>
    <li>Phasellus iaculis</li>
    <li>Nulla volutpat</li>
  </ul>
</div>

<h4>Description</h4>
<div class="doc-example">
  <dl>
    <dt>Description lists</dt>
    <dd>A description list is perfect for defining terms.</dd>
    <dt>Euismod</dt>
    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
    <dt>Malesuada porta</dt>
    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
  </dl>
</div>

<h4>Horizontal description</h4>
<div class="doc-example">
  <dl class="dl-horizontal">
    <dt>Description lists</dt>
    <dd>A description list is perfect for defining terms.</dd>
    <dt>Euismod</dt>
    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
    <dt>Malesuada porta</dt>
    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
    <dt>Felis euismod semper eget lacinia</dt>
    <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
  </dl>
</div>

<h2 class="clearfix">
  <a href="http://getbootstrap.com/css/#code" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Code
</h2>

<h3>
  <a href="http://getbootstrap.com/css/#code-inline" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Inline
</h3>
<div class="doc-example">
  For example, <code>&lt;section&gt;</code> should be wrapped as inline.
</div>

<h3>
  <a href="http://getbootstrap.com/css/#code-user-input" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  User Input
</h3>
<div class="doc-example">
  To switch directories, type <kbd>cd</kbd> followed by the name of the directory.
</div>

<h3>
  <a href="http://getbootstrap.com/css/#code-block" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Basic block
</h3>
<div class="doc-example">
  <pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
</div>

<h2>
  <a href="http://getbootstrap.com/css/#tables" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Tables
</h2>

<h3>
  <a href="http://getbootstrap.com/css/#tables-example" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Basic example
</h3>
<div class="doc-example">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>
  <a href="http://getbootstrap.com/css/#tables-striped" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Striped rows
</h3>
<div class="doc-example">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>
  <a href="http://getbootstrap.com/css/#tables-bordered" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Bordered table
</h3>
<div class="doc-example">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>
  <a href="http://getbootstrap.com/css/#tables-hover-rows" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Hover rows
</h3>
<div class="doc-example">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>
  <a href="http://getbootstrap.com/css/#tables-condensed" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Condensed table
</h3>
<div class="doc-example">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>
  <a href="http://getbootstrap.com/css/#tables-contextual-classes" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Contextual classes
</h3>
<div class="doc-example">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Column heading</th>
        <th>Column heading</th>
        <th>Column heading</th>
      </tr>
    </thead>
    <tbody>
      <tr class="active">
        <td>1</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
      <tr class="success">
        <td>3</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
      <tr class="info">
        <td>5</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
      <tr class="warning">
        <td>7</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
      <tr class="danger">
        <td>9</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>
  <a href="http://getbootstrap.com/css/#tables-responsive" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Responsive tables
</h3>
<div class="doc-example">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

<h2>
  <a href="http://getbootstrap.com/css/#forms" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Forms
</h2>

<h3>
  <a href="http://getbootstrap.com/css/#forms-example" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Basic example
</h3>
<div class="doc-example">
  <form role="form">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<h3>
  <a href="http://getbootstrap.com/css/#forms-inline" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Inline form
</h3>
<div class="doc-example">
  <form class="form-inline" role="form">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail2">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputPassword2">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-default">Sign in</button>
  </form>
</div>

<h3>
  <a href="http://getbootstrap.com/css/#forms-horizontal" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Horizontal form
</h3>
<div class="doc-example">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Sign in</button>
      </div>
    </div>
  </form>
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Supported controls
</h3>

<h4>Inputs</h4>
<div class="doc-example">
  <input type="text" class="form-control" placeholder="Text input">
</div>

<h4>Textarea</h4>
<div class="doc-example">
  <textarea class="form-control" rows="3"></textarea>
</div>

<h4>Checkboxes and radios</h4>

<h5>Default (stacked)</h5>
<div class="doc-example">
  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      Option one is this and that&mdash;be sure to include why it's great
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      Option one is this and that&mdash;be sure to include why it's great
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      Option two can be something else and selecting it will deselect option one
    </label>
  </div>
</div>

<h5>Inline checkboxes</h5>
<div class="doc-example">
  <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
  </label>
</div>

<h4>Selects</h4>
<div class="doc-example">
  <select class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>

  <select multiple class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Static control
</h3>
<div class="doc-example">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <p class="form-control-static">email@example.com</p>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
  </form>
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Focus state
</h3>
<div class="doc-example">
  <input class="form-control focus" type="text" value="Demonstrative focus state">
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Disabled state
</h3>
<div class="doc-example">
  <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
</div>

<h4>Disabled fieldsets</h4>
<div class="doc-example">
  <form role="form">
    <fieldset disabled>
      <div class="form-group">
        <label for="disabledTextInput">Disabled input</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
      </div>
      <div class="form-group">
        <label for="disabledSelect">Disabled select menu</label>
        <select id="disabledSelect" class="form-control">
          <option>Disabled select</option>
        </select>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Can't check this
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Validation states
</h3>
<div class="doc-example">
  <div class="form-group has-success">
    <label class="control-label" for="inputSuccess1">Input with success</label>
    <input type="text" class="form-control" id="inputSuccess1">
  </div>
  <div class="form-group has-warning">
    <label class="control-label" for="inputWarning1">Input with warning</label>
    <input type="text" class="form-control" id="inputWarning1">
  </div>
  <div class="form-group has-error">
    <label class="control-label" for="inputError1">Input with error</label>
    <input type="text" class="form-control" id="inputError1">
  </div>
</div>

<h4>With optional icons</h4>
<div class="doc-example">
  <div class="form-group has-success has-feedback">
    <label class="control-label" for="inputSuccess2">Input with success</label>
    <input type="text" class="form-control" id="inputSuccess2">
    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
  </div>
  <div class="form-group has-warning has-feedback">
    <label class="control-label" for="inputWarning2">Input with warning</label>
    <input type="text" class="form-control" id="inputWarning2">
    <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
  </div>
  <div class="form-group has-error has-feedback">
    <label class="control-label" for="inputError2">Input with error</label>
    <input type="text" class="form-control" id="inputError2">
    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
  </div>
</div>

<div class="doc-example">
  <form class="form-horizontal" role="form">
    <div class="form-group has-success has-feedback">
      <label class="control-label col-sm-3" for="inputSuccess3">Input with success</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputSuccess3">
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>
    </div>
  </form>
</div>

<div class="doc-example">
  <form class="form-inline" role="form">
    <div class="form-group has-success has-feedback">
      <label class="control-label" for="inputSuccess4">Input with success</label>
      <input type="text" class="form-control" id="inputSuccess4">
      <span class="glyphicon glyphicon-ok form-control-feedback"></span>
    </div>
  </form>
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Control sizing
</h3>
<div class="doc-example">
  <input class="form-control input-lg" type="text" placeholder=".input-lg">
  <input class="form-control" type="text" placeholder="Default input">
  <input class="form-control input-sm" type="text" placeholder=".input-sm">

  <select class="form-control input-lg">...</select>
  <select class="form-control">...</select>
  <select class="form-control input-sm">...</select>
</div>

<h4>Column sizing</h4>
<div class="doc-example">
  <div class="row">
    <div class="col-xs-2">
      <input type="text" class="form-control" placeholder=".col-xs-2">
    </div>
    <div class="col-xs-3">
      <input type="text" class="form-control" placeholder=".col-xs-3">
    </div>
    <div class="col-xs-4">
      <input type="text" class="form-control" placeholder=".col-xs-4">
    </div>
  </div>
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Help text
</h3>
<div class="doc-example">
  <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
</div>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Buttons
</h2>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Options
</h3>
<div class="doc-example">
  <button type="button" class="btn btn-default">Default</button>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-link">Link</button>
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Sizes
</h3>
<div class="doc-example">
  <p>
    <button type="button" class="btn btn-primary btn-lg">Large button</button>
    <button type="button" class="btn btn-default btn-lg">Large button</button>
  </p>
  <p>
    <button type="button" class="btn btn-primary">Default button</button>
    <button type="button" class="btn btn-default">Default button</button>
  </p>
  <p>
    <button type="button" class="btn btn-primary btn-sm">Small button</button>
    <button type="button" class="btn btn-default btn-sm">Small button</button>
  </p>
  <p>
    <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
    <button type="button" class="btn btn-default btn-xs">Extra small button</button>
  </p>
</div>
<div class="doc-example">
  <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
  <button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Active state
</h3>

<h4>Button element</h4>
<div class="doc-example">
  <button type="button" class="btn btn-primary btn-lg active">Primary button</button>
  <button type="button" class="btn btn-default btn-lg active">Button</button>
</div>

<h4>Anchor element</h4>
<div class="doc-example">
  <a href="#" class="btn btn-primary btn-lg active" role="button">Primary link</a>
  <a href="#" class="btn btn-default btn-lg active" role="button">Link</a>
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Disabled state
</h3>

<h4>Button element</h4>
<div class="doc-example">
  <button type="button" class="btn btn-lg btn-primary" disabled="disabled">Primary button</button>
  <button type="button" class="btn btn-default btn-lg" disabled="disabled">Button</button>
</div>

<h4>Anchor element</h4>
<div class="doc-example">
  <a href="#" class="btn btn-primary btn-lg disabled" role="button">Primary link</a>
  <a href="#" class="btn btn-default btn-lg disabled" role="button">Link</a>
</div>


<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Button tags
</h3>
<div class="doc-example">
  <a class="btn btn-default" href="#" role="button">Link</a>
  <button class="btn btn-default" type="submit">Button</button>
  <input class="btn btn-default" type="button" value="Input">
  <input class="btn btn-default" type="submit" value="Submit">
</div>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Images
</h2>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Responsive images
</h3>
<div class="doc-example">
  <img src="http://dummyimage.com/600x400/220430/ffffff" class="img-responsive" alt="Responsive image">
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Image shapes
</h3>
<div class="doc-example">
</div>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Helper classes
</h2>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Contextual colors
</h3>
<div class="doc-example">
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Contextual backgrounds
</h3>
<div class="doc-example">
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Close icon
</h3>
<div class="doc-example">
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Carets
</h3>
<div class="doc-example">
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Quick floats
</h3>
<div class="doc-example">
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Center content blocks
</h3>
<div class="doc-example">
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Clearfix
</h3>
<div class="doc-example">
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Showing and hiding content
</h3>
<div class="doc-example">
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Screen reader content
</h3>
<div class="doc-example">
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Image replacement
</h3>
<div class="doc-example">
</div>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Responsive utilities
</h2>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Available classes
</h3>
<div class="doc-example">
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Print classes
</h3>
<div class="doc-example">
</div>

<h3>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Test cases
</h3>
<div class="doc-example">
</div>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Glyphicons
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Drowpdowns
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Button groups
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Button dropdowns
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Input groups
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Navs
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Navbar
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Breadcrumbs
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Pagination
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Labels
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Badges
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Jumbotron
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Page header
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Thumbnails
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Alerts
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Progress bars
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Media object
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  List group
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Panels
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Wells
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Transitions
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Modal
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Dropdown
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Scrollspy
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Tab
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Tooltip
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Popover
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Alert
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Button
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Collapse
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Carousel
</h2>

<h2>
  <a href="http://getbootstrap.com/css/#" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Affix
</h2>
