

<div class="doc-grid">
  <h2 class="clearfix">
    <a href="http://getbootstrap.com/css/#grid" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
    Grid system
  </h2>
  <div class="row">
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
  </div>
  <div class="row">
    <div class="col-md-8">.col-md-8</div>
    <div class="col-md-4">.col-md-4</div>
  </div>
  <div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
  </div>
  <div class="row">
    <div class="col-md-6">.col-md-6</div>
    <div class="col-md-6">.col-md-6</div>
  </div>

</div>

<h2 class="clearfix">
  <a href="http://getbootstrap.com/css/#type" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Typography
</h2>

<h3 class="clearfix">
  <a href="http://getbootstrap.com/css/#type-headings" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Headings
</h3>
<div class="doc-example">
  <h1>h1. Bootstrap heading <small>Secondary text</small></h1>
  <h2>h2. Bootstrap heading <small>Secondary text</small></h2>
  <h3>h3. Bootstrap heading <small>Secondary text</small></h3>
  <h4>h4. Bootstrap heading <small>Secondary text</small></h4>
  <h5>h5. Bootstrap heading <small>Secondary text</small></h5>
  <h6>h6. Bootstrap heading <small>Secondary text</small></h6>
</div>

<h3 class="clearfix">
  <a href="http://getbootstrap.com/css/#type-body-copy" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Body copy
</h3>
<div class="doc-example">
  <p>
    Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Nullam id dolor id nibh ultricies vehicula.
  </p>
  <p>
    Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id
    elit non mi porta gravida at eget metus. Duis mollis, est non commodo
    luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
  </p>
</div>

<h3 class="clearfix">
  <a href="http://getbootstrap.com/css/#type-emphasis" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Emphasis
</h3>

<h4>Small text</h4>
<div class="doc-example">
  <small>This line of text is meant to be treated as fine print.</small>
</div>

<h4>Bold</h4>
<div class="doc-example">
  <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
</div>

<h4>Italics</h4>
<div class="doc-example">
  <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
</div>

<h4>Alignment classes</h4>
<div class="doc-example">
  <p class="text-left">Left aligned text.</p>
  <p class="text-center">Center aligned text.</p>
  <p class="text-right">Right aligned text.</p>
  <p class="text-justify">Justified text.</p>
</div>

<h3 class="clearfix">
  <a href="http://getbootstrap.com/css/#type-abbreviations" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Abbreviations
</h3>

<h4>Basic abbreviation</h4>
<div class="doc-example">
  <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
</div>

<h4>Initialism</h4>
<div class="doc-example">
  <p>
    <abbr title="HyperText Markup Language" class="initialism">HTML</abbr>
    is the best thing since sliced bread.
  </p>
</div>

<h3 class="clearfix">
  <a href="http://getbootstrap.com/css/#type-addresses" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Addresses
</h3>
<div class="doc-example">
  <address>
    <strong>Twitter, Inc.</strong><br>
    795 Folsom Ave, Suite 600<br>
    San Francisco, CA 94107<br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
  </address>
  <address>
    <strong>Full Name</strong><br>
    <a href="mailto:#">first.last@example.com</a>
  </address>
</div>

<h3 class="clearfix">
  <a href="http://getbootstrap.com/css/#type-blockquotes" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Blockquotes
</h3>

<h4>Default blockquote</h4>
<div class="doc-example">
  <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  </blockquote>
</div>

<h4>Blockquote options</h4>

<h5>Naming a source</h5>
<div class="doc-example">
  <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
  </blockquote>
</div>

<h5>Alternate displays</h5>
<div class="doc-example">
  <blockquote class="blockquote-reverse">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
  </blockquote>
</div>

<h3 class="clearfix">
  <a href="http://getbootstrap.com/css/#type-lists" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
  Lists
</h3>

<h4>Unordered</h4>
<div class="doc-example">
  <ul>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Consectetur adipiscing elit</li>
    <li>Integer molestie lorem at massa</li>
    <li>Facilisis in pretium nisl aliquet</li>
    <li>Nulla volutpat aliquam velit</li>
    <li>Phasellus iaculis neque</li>
    <li>Purus sodales ultricies</li>
    <li>Vestibulum laoreet porttitor sem</li>
    <li>Ac tristique libero volutpat at</li>
    <li>Faucibus porta lacus fringilla vel</li>
    <li>Aenean sit amet erat nunc</li>
    <li>Eget porttitor lorem</li>
  </ul>
</div>

<h4>Ordered</h4>
<div class="doc-example">
  <ol>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Consectetur adipiscing elit</li>
    <li>Integer molestie lorem at massa</li>
    <li>Facilisis in pretium nisl aliquet</li>
    <li>Nulla volutpat aliquam velit</li>
    <li>Phasellus iaculis neque</li>
    <li>Purus sodales ultricies</li>
    <li>Vestibulum laoreet porttitor sem</li>
    <li>Ac tristique libero volutpat at</li>
    <li>Faucibus porta lacus fringilla vel</li>
    <li>Aenean sit amet erat nunc</li>
    <li>Eget porttitor lorem</li>
  </ol>
</div>

<h4>Unstyled</h4>
<div class="doc-example">
  <ul class="list-unstyled">
    <li>Lorem ipsum dolor sit amet</li>
    <li>Consectetur adipiscing elit</li>
    <li>Integer molestie lorem at massa</li>
    <li>Facilisis in pretium nisl aliquet</li>
    <li>Nulla volutpat aliquam velit</li>
    <li>Phasellus iaculis neque</li>
    <li>Purus sodales ultricies</li>
    <li>Vestibulum laoreet porttitor sem</li>
    <li>Ac tristique libero volutpat at</li>
    <li>Faucibus porta lacus fringilla vel</li>
    <li>Aenean sit amet erat nunc</li>
    <li>Eget porttitor lorem</li>
  </ul>
</div>

<h4>Inline</h4>
<ul class="list-inline">
  <li>Lorem ipsum</li>
  <li>Phasellus iaculis</li>
  <li>Nulla volutpat</li>
</ul>

<h4>Description</h4>
<dl>
  <dt>Description lists</dt>
  <dd>A description list is perfect for defining terms.</dd>
  <dt>Euismod</dt>
  <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
  <dd>Donec id elit non mi porta gravida at eget metus.</dd>
  <dt>Malesuada porta</dt>
  <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
</dl>

<h4>Horizontal description</h4>
<dl class="dl-horizontal">
  <dt>Description lists</dt>
  <dd>A description list is perfect for defining terms.</dd>
  <dt>Euismod</dt>
  <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
  <dd>Donec id elit non mi porta gravida at eget metus.</dd>
  <dt>Malesuada porta</dt>
  <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
  <dt>Felis euismod semper eget lacinia</dt>
  <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
</dl>

<h2>Code</h2>

<h3>Inline</h3>
<h3>User input</h3>
<h3>Basic block</h3>

<h2>Tables</h2>
<h3>Basic example</h3>
<h3>Striped rows</h3>
<h3>Bordered table</h3>
<h3>Hover rows</h3>
<h3>Condensed table</h3>
<h3>Contextual classes</h3>
<h3>Responsive tables</h3>

<h2>Forms</h2>
<h3>Basic example</h3>
<h3>Inline form</h3>
<h3>Horizontal form</h3>
<h3>Supported controls</h3>
<h3>Static control</h3>
<h3>Focus state</h3>
<h3>Disabled state</h3>
<h3>Validation states</h3>
<h3>Control sizing</h3>
<h3>Help text</h3>

<h2>Buttons</h2>
<h3>Options</h3>
<h3>Sizes</h3>
<h3>Active state</h3>
<h3>Disabled state</h3>
<h3>Button tags</h3>

<h2>Images</h2>
<h3>Responsive images</h3>
<h3>Image shapes</h3>

<h2>Helper classes</h2>
<h3>Contextual colors</h3>
<h3>Contextual backgrounds</h3>
<h3>Close icon</h3>
<h3>Carets</h3>
<h3>Quick floats</h3>
<h3>Center content blocks</h3>
<h3>Clearfix</h3>
<h3>Showing and hiding content</h3>
<h3>Screen reader content</h3>
<h3>Image replacement</h3>

<h2>Responsive utilities</h2>
<h3>Available classes</h3>
<h3>Print classes</h3>
<h3>Test cases</h3>

<h2>Glyphicons</h2>

<h2>Drowpdowns</h2>

<h2>Button groups</h2>

<h2>Button dropdowns</h2>

<h2>Input groups</h2>

<h2>Navs</h2>

<h2>Navbar</h2>

<h2>Breadcrumbs</h2>

<h2>Pagination</h2>

<h2>Labels</h2>

<h2>Badges</h2>

<h2>Jumbotron</h2>

<h2>Page header</h2>

<h2>Thumbnails</h2>

<h2>Alerts</h2>

<h2>Progress bars</h2>

<h2>Media object</h2>

<h2>List group</h2>

<h2>Panels</h2>

<h2>Wells</h2>

<h2>Transitions</h2>

<h2>Modal</h2>

<h2>Dropdown</h2>

<h2>Scrollspy</h2>

<h2>Tab</h2>

<h2>Tooltip</h2>

<h2>Popover</h2>

<h2>Alert</h2>

<h2>Button</h2>

<h2>Collapse</h2>

<h2>Carousel</h2>

<h2>Affix</h2>
