

<div class="doc-grid">
  <h2 class="clearfix">
    <a href="http://getbootstrap.com/css/#grid" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
    Grid system
  </h2>
  <div class="row">
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
  </div>
  <div class="row">
    <div class="col-md-8">.col-md-8</div>
    <div class="col-md-4">.col-md-4</div>
  </div>
  <div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
  </div>
  <div class="row">
    <div class="col-md-6">.col-md-6</div>
    <div class="col-md-6">.col-md-6</div>
  </div>

</div>

<div class="doc-typography-headings">
  <h2 class="clearfix">
    <a href="http://getbootstrap.com/css/#type" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
    Typography
  </h2>

  <div class="doc-typography-headings">

    <h3 class="clearfix">
      <a href="http://getbootstrap.com/css/#type-headings" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
      Headings
    </h3>
    <div class="doc-example">
      <h1>h1. Bootstrap heading <small>Secondary text</small></h1>
      <h2>h2. Bootstrap heading <small>Secondary text</small></h2>
      <h3>h3. Bootstrap heading <small>Secondary text</small></h3>
      <h4>h4. Bootstrap heading <small>Secondary text</small></h4>
      <h5>h5. Bootstrap heading <small>Secondary text</small></h5>
      <h6>h6. Bootstrap heading <small>Secondary text</small></h6>
    </div>

    <h3 class="clearfix">
      <a href="http://getbootstrap.com/css/#type-body-copy" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
      Body copy
    </h3>
    <div class="doc-example">
      <p>
        Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Nullam id dolor id nibh ultricies vehicula.
      </p>
      <p>
        Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id
        elit non mi porta gravida at eget metus. Duis mollis, est non commodo
        luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      </p>
    </div>

    <h3 class="clearfix">
      <a href="http://getbootstrap.com/css/#type-emphasis" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
      Emphasis
    </h3>
    <h4>Small text</h4>
    <div class="doc-example">
      <small>This line of text is meant to be treated as fine print.</small>
    </div>
    <h4>Bold</h4>
    <div class="doc-example">
      <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
    </div>
    <h4>Italics</h4>
    <div class="doc-example">
      <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
    </div>
    <h4>Alignment classes</h4>
    <div class="doc-example">
      <p class="text-left">Left aligned text.</p>
      <p class="text-center">Center aligned text.</p>
      <p class="text-right">Right aligned text.</p>
      <p class="text-justify">Justified text.</p>
    </div>
  </div>

    <h3 class="clearfix">
      <a href="http://getbootstrap.com/css/#type-abbreviations" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
      Abbreviations
    </h3>
    <h4>Basic abbreviation</h4>
    <div class="doc-example">
      <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
    </div>
    <h4>Initialism</h4>
    <div class="doc-example">
      <p>
        <abbr title="HyperText Markup Language" class="initialism">HTML</abbr>
        is the best thing since sliced bread.
      </p>
    </div>

    <h3 class="clearfix">
      <a href="http://getbootstrap.com/css/#type-addresses" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
      Addresses
    </h3>
    <div class="doc-example">
      <address>
        <strong>Twitter, Inc.</strong><br>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>

      <address>
        <strong>Full Name</strong><br>
        <a href="mailto:#">first.last@example.com</a>
      </address>
    </div>

    <h3 class="clearfix">
      <a href="http://getbootstrap.com/css/#type-blockquotes" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
      Blockquotes
    </h3>
    <h4>Default blockquote</h4>
    <div class="doc-example">
      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </blockquote>
    </div>
    <h4>Blockquote options</h4>
    <h5>Naming a source</h5>
    <div class="doc-example">
      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
    <h5>Alternate displays</h5>
    <div class="doc-example">
      <blockquote class="blockquote-reverse">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>

    <h3 class="clearfix">
      <a href="http://getbootstrap.com/css/#type-lists" class="btn btn-default pull-right"><i class="glyphicon glyphicon-book" title="Documentation"></i></a>
      Lists
    </h3>
    <h4>Unordered</h4>
    <div class="doc-example">
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
        <li>Nulla volutpat aliquam velit</li>
        <li>Phasellus iaculis neque</li>
        <li>Purus sodales ultricies</li>
        <li>Vestibulum laoreet porttitor sem</li>
        <li>Ac tristique libero volutpat at</li>
        <li>Faucibus porta lacus fringilla vel</li>
        <li>Aenean sit amet erat nunc</li>
        <li>Eget porttitor lorem</li>
      </ul>
    </div>
    <h4>Ordered</h4>
    <div class="doc-example">
      <ol>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
        <li>Nulla volutpat aliquam velit</li>
        <li>Phasellus iaculis neque</li>
        <li>Purus sodales ultricies</li>
        <li>Vestibulum laoreet porttitor sem</li>
        <li>Ac tristique libero volutpat at</li>
        <li>Faucibus porta lacus fringilla vel</li>
        <li>Aenean sit amet erat nunc</li>
        <li>Eget porttitor lorem</li>
      </ol>
    </div>
    <h4>Unstyled</h4>
    <div class="doc-example">
      <ul class="list-unstyled">
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
        <li>Nulla volutpat aliquam velit</li>
        <li>Phasellus iaculis neque</li>
        <li>Purus sodales ultricies</li>
        <li>Vestibulum laoreet porttitor sem</li>
        <li>Ac tristique libero volutpat at</li>
        <li>Faucibus porta lacus fringilla vel</li>
        <li>Aenean sit amet erat nunc</li>
        <li>Eget porttitor lorem</li>
      </ul>
    </div>
    <h4>Inline</h4>
    <ul class="list-inline">
      <li>Lorem ipsum</li>
      <li>Phasellus iaculis</li>
      <li>Nulla volutpat</li>
    </ul>
</div>
